* {
  /* padding: 40; */
  padding: 10;
}

/* <img src="example.png" style="width:2em; height:3em;" /> */
.octocat {
  display: inline-block;
  width: auto;
}

.octocat img {
  max-width: 450px;
  height: auto;
  border: 1px solid #808080
}

.authors img {
  height: 2em;
  width: 3em;
  /* position: right:0; */
}

.authors {
  font-weight: 900;
  display:inline-block;
}

ul.authors {
  list-style-type: none;
}

.image-number {
  font-weight: bold;
  /* position:left:0; */
}

.image-number::before  {
  content: "#";
}

.image-caption {
  text-align: right;
  font-weight: bold;
}

.image-caption a {
  text-decoration: none;
  font-weight: bold;
}

.image-footer {
  display: block;
  line-height: 1em;
  border-bottom: 1px solid #808080
}
