
* {
  background: Green;
  margin: 10;
}

/* <img src="example.png" style="width:2em; height:3em;" /> */

ul.authors {
    list-style-type: none;
}


.octocat {
  display: inline-block;
  width: auto;

  /* width: 200px;
  height: 100px;
  margin: 1em; */
}

.octocat img {

  max-width:450px;
  height:auto;
  border: 1px solid #808080
}

.authors img {
  height: 2em;
  width: 3em;
}

.image-footer {
  border-bottom: 3px solid #808080
}
